
/* ! HOME PAGE */
/* main {
  width: 100vw;
  height: calc(100vh - 189.5px);
} */
body {
  margin: 0;
  padding: 0;
}
.home-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 189.5px);
  width: 100vw;
  background-color: #ebecf0;
}
.bandeau {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 8em 1em;
}
.welcome {
  text-align: center;
  padding: 1em 0;
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}
.welcome h1 {
  font-size: 5em;
  margin: 0;
  color: #c0c0c0; 
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 12px rgba(0,0,0,0.5), 
               6px -6px 12px rgba(255,255,255,0.8);
  position: relative;
}  

.welcome h2 {
  font-size: 3em;
  margin: 0;
  color: #c0c0c0; 
  font-weight: bold;
  text-shadow: -3px 3px 6px rgba(0,0,0,0.5), 
               3px -3px 6px rgba(255,255,255,0.8);
}
.welcome__logo img {
  width: 10em;
  height: 10em;
  border-radius: 5em;
}
.welcome__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5em;
  height: 10.5em;
  box-sizing: border-box;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin-bottom: 2em;
}
.welcome__logo:hover {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/* ! HEADER- NAV */

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 10vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 0 1em;
}
.nav_logo {
  height: 200px;
  width: 250px;
  margin: 0 1em;
}
.nav_logo:hover {
  transform: scale(1.3);
}
.btngroup {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  margin-right: 1em;
}
.black-btn {
  font-size: 1.5em;
  padding: 0.3em .3em;
  margin: 0 .5em;
  cursor: pointer;
  border: .25em solid #191919;
  border-radius: 1.2em;
  box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
      inset 4px 4px 10px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(67, 67, 67, 0.3),
      4px 4px 10px rgba(0, 0, 0, 0.3);
  color: #AE1100;
  text-decoration: none;
  font-weight: bold;
  
}
.black-btn:hover {
transform: scale(1.2);
}
.profil {
  width: 52px;
  height: 52px;
  border-radius: .5em;
  color: #2196F3;
}
.profil:hover {
  transform: scale(1.3);
}
.avatar__img {
  width: 52px;
  height: 52px;
  object-fit: fill;
   border-radius: .5em;
}
.avatar__icon {
  width: 52px;
  height: 52px;
  object-fit: contain;
  border-radius: 1em;
  color: #2196F3;
}
.avatar__icon:hover {
  transform: scale(1.3);
}

/* ! SIGNIN & LOGIN*/
.form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1em;
  margin: 5em 1em;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
.form-container__title {
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}
.input-form {
  width: 40vw;
  height: 8vh;
  margin-bottom: 2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* label {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  width: 100%; 
  
} */
.input-form-field {
  /* height: 70%;
  width: 80%; */
  width: 90%;
  margin: 0.5em 2em 0 0;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  font-size: 1.2em;
  border-radius: 20em;
  padding: 1em;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.input-form-field:focus {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1.2em;
  border-radius: 20em;
  padding: 1em;
  text-shadow: 1px 1px 0 #FFF;
}
.button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.error {
  width: 100%;
  color: #AE1100;
  /* background-color: aquamarine; */
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

/* ! A regarder */
/* .button--disabled {
  background:#cecece;
  color:#ececec
}
.button--disabled:hover {
  cursor:not-allowed;
  background:#cecece;
}*/

.danger-alert {
  padding: .5em;
  width: 100%;
  height: 1em;
  color: #AE1100;
  font-weight: bold;
} 

/* ! posts */

.feed-container {
  padding: 1em;

}
.feed-container-bloc {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.feed-group-btn {
  width: 90%;
  padding: 0 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.recents, .hot-posts, .add-btn {
 padding: .5em 3em;
 font-size: 1.5em; 
 color: #AE1100;
}
.posts-card {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  display: flex;
  flex-flow: row wrap;
}
.posts-card-img {
 height: 5em;
 width: 5em;
}

/* ! POST */

.container-posts {
  max-width: 24em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 2em 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
 color: #2196F3;
 font-size: 1em;
 border-radius: .8em;
}
.post-title {
 display: flex;
 flex-flow: column nowrap;
 justify-content: flex-start;
 align-items: center;
 padding: .5em;
 margin-top:-4em;
}
.post-options {
  display: flex;
  justify-content: flex-end;
  padding: .5em 1em;
}
.updatePost-btn {
  padding: .5em;
  color: rgb(61, 11, 241);
  border-radius: 5em;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  background-color:#ebecf0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  margin-right: 1em;
}
.updatePost-btn span {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.updatePost-btn:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.updatePost-btn:active {
  box-shadow: inset 1px 1px 2px #FFF,inset -1px -1px 2px #BABECC;
}
.deletePost-btn {
  padding: .5em;
  color: rgb(11, 97, 68);
  border-radius: 5em;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  background-color:#ebecf0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  margin-right: .5em;
}
.deletePost-btn span {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.deletePost-btn:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.deletePost-btn:active {
  box-shadow: inset 1px 1px 2px #FFF,inset -1px -1px 2px #BABECC;
}
.profil-post {
 width: 96px;
 height: 96px;
 margin: auto;
  border-radius: 5em;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.profil-post:hover {
 transform: scale(1.5);
}
.avatar__post {
  width: 96px;
  height: 96px;
  border-radius: 5em;
  object-fit: fill;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.avatar__post:hover {
 transform: scale(1.5);
}
.nom-date{
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: .5em 0;
  padding: .5em;
  font-size: 1em;
  font-weight: bold;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  border-radius: 20em;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.post-card-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1em;
  margin: 3em 1em;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
.card-text-body{
 display: flex;
 justify-content: center;
 align-items: center;
}
.card-text-left  {
  width: 85%;
  padding: .5em;
  text-align: center;
  color: #045f9c; 
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5),
      inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
    inset -3px -3px 7px #FFFFFF;
  background: linear-gradient(318.32deg, rgba(163, 177, 198, 0.1) 0%, rgba(163, 177, 198, 0.1) 55%, rgba(163, 177, 198, 0.25) 100%);
}
.body-1 {
 white-space: normal;
}
.postImgLink {
  display: flex;
  justify-content: center;
  margin: .5em 0;
  padding: .5em;
}
.post-link {
  width: 17em;
  height: 17em;
  object-fit: fill;
  border-radius: 1em ;
}
.post-img {
 width: 17em;
 height: 17em;
 border-radius: 1em ;
}
.commentsLikes {
  display: flex;
  justify-content: space-around;
}
.comments-posts {
  padding: 1em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  border-radius: 20em;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 1em ;
  font-weight: bold;
}
.likes-posts {
  padding: 1em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  border-radius: 1em ;
  font-weight: bold;
}
.card-actions {
  padding: .8em .2em;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.card-actions-comments button {
  font-size: 1em;
  font-weight: bold;
  color: #045f9c;
  cursor: pointer;
  border: none;
}
.like-btn {
  padding: .2em;
  color: rgb(241, 55, 195);
  border-radius: 1em;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  padding: 1em;
  background-color:#ebecf0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  margin-left: .5em;
}
.like-btn span {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.like-btn:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.like-btn:active {
  box-shadow: inset 1px 1px 2px #FFF,inset -1px -1px 2px #BABECC;
}

/* ! COMMENTS POSTS */

.card-comment-input form {
 width: 100%;
 display: flex;
 flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#input-1-4 {
  margin: 1em 0 1em 0;
}
 .comment-btn {
   margin: 1em 0;
   padding: .7em 4em;
 }
.list-item-comment {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: -3.5em;
 }
 .list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 2em 0 2em 0;
  padding: 1em;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  border-radius: 1em;
  outline: 0;
  color: #AE1100;
  text-shadow: 1px 1px 1px #FFF;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}
.comment_body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.comment_photo {
  width: 64px;
  height: 64px;
  border-radius: 2em;
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  color: #045f9c;
  box-shadow: 2px 2px 5px #BABECC, 
  -5px -5px 10px #FFFFFF; 
}
.comment_photo:hover {
 transform: scale(1.5);
}
.comment_photo img {
 width: 64px;
 height: 64px;
 border-radius: 2em;
 box-shadow: 2px 2px 5px #BABECC, 
 -5px -5px 10px #FFFFFF; 
}
.comment__pseudo {
  margin: 0.5em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 80%;
  border: 0;
  outline: 0;
  font-size: 1em;
  border-radius: 5em;
  padding:  .3em 1em;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.comment__message {
  color: #045f9c;
}
.delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.delete_comment {
  padding: .5em;
  color: rgb(11, 97, 68);
  border-radius: 5em;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  background-color:#ebecf0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  margin-right: 1em;
}
.delete_comment span {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.delete_comment:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.delete_comment:active {
  box-shadow: inset 1px 1px 2px #FFF,inset -1px -1px 2px #BABECC;
}

/* ! POST GETONE MODIFY */

.post-title-box {
  width: 100%;
  display: flex;
}
.update-title {
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  font-size: 1em;
}
.titre_new {
  margin-left: 4em;
}
.message-title {
  margin-top: 2em;
}
.mess-title {
  color:#61677C;
  font-weight: bold;
  text-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  padding: 1em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  border-radius: 1em ;
}
.mess-title:hover {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.changeGif-btn {
  margin-top: 1em;
}
.changeImg-btn {
  margin-top: 1em;
}
.new_btn {
  font-size: 1.5em;
  font-weight: bold;
  color: #AE1100;
  text-decoration: none;
  padding: 0 1em;
  
}
.modify-post-action {
  margin: 1em;
}
.text-area {
  padding: .5em 2em;
  font-size: 1em;
  color: #045f9c;
}

/* ! Acccount */

.account-box-container {
  width: 100%;
  display: flex;
  flex-flow:  row nowrap;
  justify-content: center;
  align-items: space-around;
} 
.account-card {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 2em 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
  color: #2196F3;
  font-size: 1em;
  border-radius: .8em;
}
.profil-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.back {
  font-size: 1.5em;
  font-weight: bold;
  color: #AE1100;
  text-decoration: none;
  padding: .3em 1em;
}
.card-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  color: #BABECC;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
}
.delete_account {
  display: flex;
  justify-content: flex-end;
  margin-left: 3em; 
}
.profil-middle {
width: 100%;
display: flex;
flex-flow: column nowrap;
justify-content: space-around;
align-items: center;
margin: 1em 0;
}
.profil-middle__left {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.profil-middle__right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.pseudo {
  padding: .5em 1em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 1em ;
  font-weight: bold;
  color: #AE1100;
  text-shadow: 1px 1px 1px #FFF;
}
.pseudo:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
input[type="file"] {
 border: none;
}
.updatePhoto label {
  margin: 1em;
}
.updatePhoto {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1.2em;
  border-radius: 20em;
  padding: 1em;
  text-shadow: 1px 1px 0 #FFF;
}
input#file-upload-button{
  border: none;
}
.file-upload-button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.file-upload-button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.bio {
  display: flex;
  padding: 1em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  font-size: 1.2em;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 1em ;
  font-weight: bold;
  color: #AE1100;
  text-shadow: 1px 1px 1px #FFF;
}
.bio:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.bio-text span{
  font-size: .8em;
  font-weight: 500;
  color: #045f9c;
  margin: 1em;
  white-space: normal;
}
.bio-btn {
  padding: 0 1em;
}
.field-bio {
 height: 3em;
 margin: 0;
}

/* ! Accounts */
.avatar__account {
  padding: .2em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  border: 0;
  outline: 0;
  text-shadow: 1px 1px 0 #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5em ;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
}
.avatar__account:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.avatar__account img {
  width: 200px;
  height: 200px;
  object-fit: fill;
}
/* ! Tous les comptes */
.avatar__accounts {
  margin-top: -3em;
  margin-bottom: 1em;
  width: 96px;
  height: 96px;
  border-radius: 3em;
  color: #2196F3;
}
.avatar__accounts img {
  width: 96px;
  height: 96px;
  object-fit: fill;
  border-radius: 3em;
}
.avatar-infos {
  margin: 1em 0;
}
.mail_accounts {
  margin: 1em;
  padding: .2em .5em;
  font-size: 1em;
}
.delete_accounts {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
.dialog {
  margin-top: 60px !important;
  padding-left: 30px;
}
.accounts-box {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 2em 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
  color: #2196F3;
  font-size: 1em;
  border-radius: .8em;
}
.card-users {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 2em 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.card-container {
  width:  100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.card-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* ! NewPost */

.post-card {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
  color: #2196F3;
  font-size: 1em;
  border-radius: .8em;
}
.validate {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  font-size: 1.2em;
}
.post-content {
  display: flex;
  justify-content: space-around;
}
.hospital-icon {
  color: #61677C;
  border-radius: 1em;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  padding: .3em;
  background-color:#ebecf0;
  text-shadow: 1px 1px 0 #FFF;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  margin-left: .5em;
}
.hospital-icon span {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.hospital-icon:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.hospital-icon:active {
  box-shadow: inset 1px 1px 2px #FFF,inset -1px -1px 2px #BABECC;
}
.gif {
 font-size: 1em;
 margin: 0 1.5em;
 padding: 1em 2em;
 font-weight: bold;
 border-radius: .8em;
 color: #AE1100;
}
.post {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.post-btn {
  padding: .5em 3em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 1.5em;
 }
 .addImage-content {
   width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: .3em;
  color: #2196F3;
  font-size: 1em;
  font-weight: bold;
 }
 .img-field {
   width: 100%;
 }
 .img-label {
  margin: 1em 0 .5em 0;
 }
 .addLink {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
  font-size: 1em;
  font-weight: bold;
  margin: .5em;
 }
 .gif-label {
  margin: 1em 0 .5em 0;
 }

 /* ! ABOUT */
 .about-container {
   height: calc(100vh - 189.5px);
 }
 .about-content-cover img {
  width: 100%;
  height: 18em;
 }
 .about-about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
 }
 .about-about h1 {
  width: 30%;
  border: 0;
  outline: 0;
  border-radius: 5em;
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  color: #AE1100;
  text-shadow: 1px 1px 1px #FFF;
  margin-right: .5em;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
 }
 .about-about p {
   width: 80%;
  padding: .5em 2em;
  margin: .5em 0;
  color: #857d7d;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.5),
   inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
  inset -3px -3px 7px #FFFFFF;
  background: linear-gradient(318.32deg, rgba(163, 177, 198, 0.1) 0%, rgba(163, 177, 198, 0.1) 55%, rgba(163, 177, 198, 0.25) 100%);
 }

 /* ! FOOTER */
.footer {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

